body {
  /* background-image: url(back.jpg);
  background-size: cover; */
  background-image: linear-gradient(to left, rgb(218, 65, 27), rgb(222, 237, 13));
}

.user-form{
  background-image: linear-gradient(to right, rgb(218, 65, 27), rgb(222, 237, 13));
  margin: 100px auto 20px auto;
  font-weight: bold;
}

.user-form, .display {
  width: 50%;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
}

.display {
  background-image: linear-gradient(to right, rgb(218, 65, 27), rgb(222, 237, 13));
  margin: 5px auto;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
}

.header {
  height: 10%;
  background-color: #b2d6ff;
}

.page {
  height: 80%;
  width: 100%;
  /* margin: 0 auto; */
  /* overflow: hidden; */
  /* background-color: #eaedf0;
}

.left-content {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #f09a9d;
}

.user-input {
  margin: 30px auto;
}

.right-content {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #f5cf8e;
}

.footer {
  height: 10%;
  /* clear: both; */
  background-color: #d6e9fe;
} */ */
