body {
  background-image: linear-gradient(to left, rgb(218, 65, 27), rgb(222, 237, 13));
}

.user-form{
  background-image: linear-gradient(to right, rgb(218, 65, 27), rgb(222, 237, 13));
  margin: 100px auto 20px auto;
  font-weight: bold;
}

.user-form, .display {
  width: 50%;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
}

.display {
  background-image: linear-gradient(to right, rgb(218, 65, 27), rgb(222, 237, 13));
  margin: 5px auto;
}

